# Python
__pycache__/
*.pyc
*.pyo

# Virtual environments
env/
venv/
.venv/

# Environment variables
.env

# OS files
.DS_Store
Thumbs.db

# Docker
*.log

# Jupyter
.ipynb_checkpoints/

# IDE
.vscode/
.idea/
